* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
  }
  
  body {
    background: #B2A3FF;
  }
  
  .wrapper {
    height: 525px;
    width: 360px;
    color: white;
    background: #bb875a;
    border-radius: 1.5rem;
    padding: 1.2rem;
    margin: 100px auto;
  }
  
  #topContainer {
    margin-top: -1rem;
  }
  #topContainer > h1 {
    color: #fafafa;
  }
  
  .container {
    margin-top: 1.2rem;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  
  .inputContainer {
    background: #0f0f13;
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
  }
  
  #billTotalInput,
  #tipInput {
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    padding: none;
  }
  
  .buttonContainer {
    background: #8990ec;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
  
  .splitButton {
    background: none;
    border: none;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .splitButton {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
  }
  
  .buttonText {
    color: #353959 !important;

  }
  .buttonText:hover {
    cursor: pointer;
  }
  
  .splitAmount {
    font-size: 1.6rem;
    margin: 0.8rem;
  }
  
  #bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .totalContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .total {
    font-size: 2rem;
  }
  /* Media queries for phones*/
  @media only screen and (max-width: 480px) {
    .wrapper {
        height: 60vh;
        width: 70vw;
        color: white;
        background: #b97f4c;
        border-radius: 1.5rem;
        padding: 1.2rem;
        margin: 100px auto;
      }
      #topContainer > h1 {
        color: #fafafa;
        font-size: 6dvw;
      }
      
  }

  @media only screen and (max-width: 768px) {
    .wrapper {
        height: 60vh;
        width: 70vw;
        color: white;
        background: #b97f4c;
        border-radius: 1.5rem;
        padding: 1.2rem;
        margin: 100px auto;
      }
      #topContainer > h1 {
        color: #fafafa;
        font-size: 6dvw;
      }
      #people {
        margin-left: 10px;
      }
      .title {
        font-size: 1.2rem;
      }
  }